<h1>Friends</h1>
<% @friends.each do |f| %>
  <%= image_tag f.avatar.url(:thumb) %><br>
  <%= f.name %>  |
  <%= link_to "Remove Friend", {:controller => "friends", :action => "destroy", :id => f.id } %><br><br>
 <% end %>
