@import "bootstrap-sprockets";
@import "bootstrap";

.panel-default{
	width:40%;
	margin-right:175px;
	margin-bottom:20px;
	border-color:linear-gradient(white, #D3D8E8);;
}
.panel-header{
	width:70%;
	margin-left:200px;
}

.name{
	text-align:left;
	font-size:18px;
	padding-left:20px;
	padding-top:5px;
	font-color:blue;
}

.namename{
	padding-top:20px;
	font-size:12px;
}

p{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(white, #D3D8E8);
 height: 100%;
 margin: 0;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.commentname{
	font-weight:bold;
	float:left;
}

.commentbody{
	float:left;
	margin-left:10%;
}

.avatar{
	text-align:center;
	margin-left:42%;
}